@charset "UTF-8";
@import "common/var";
@import "mixins/mixins";

@include b(input) {
  width: 100%;
  position: relative;
  font-size: 14px;
  display: inline-block;
  &__inner{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,045,.355,1);
    width: 100%;

    &:focus{
      outline: none;
      border-color: $--color-primary;
    }
    // input禁用样式
    &.is-disabled{
      background-color: #f5f7fa;
      border-color: #e4e7ed;
      color: #c0c4cc;
      cursor:not-allowed;
    }
  }
}

.fe-input__suffix{
  .fe-input__inner{
    padding-right: 30px;
  }
  .fe-input__suffix{
    position: absolute;
    right: 10px;
    height: 100%;
    top: 0;
    line-height: 40px;
    text-align: center;
    color: #c0c4cc;
    transition: all .3s;
    z-index: 900;
    i{
      color: #c0c4cc;
      font-size: 14px;
      cursor: pointer;
      transition: color .2s cubic-bezier(.645,.045,.355,1);
    }
    .fe-icon-yanjing-active{
      color: $--color-primary;
    }
  }
}